@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {

    /* Colors */
    --default-color: #EE1E25;
    --bordo: #650F11;
    --red-lighter: #FFF6F6;
    --red-dark: #1B0000;

    /* Font */
    --Title:'Lobster', sans-serif;

    /* Font wight */
    --normal: 400;
    --semi-bold: 500;
    --bold: 700;
}